.navbar {
  margin-left: 70px;
  margin-right: 70px;
}
#sort-by-view {
  background-color: #d3d3d3;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  color: black;
  text-align: center;
  margin-right: 50px;
}

#blog {
  background-color: #ff1f3d;
  padding: 10px 17px 10px 17px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.hr {
  margin: 30px 70px 30px 70px;
}

@media only screen and (max-width: 991px) {
  .navbar {
    margin-left: 0;
    margin-right: 0;
  }
  #sort-by-view {
    width: 100%;
  }
  .hr {
    margin: 20px 12px 20px 12px;
  }
}
